@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is a doctor appointment application. </h2>
    <h3>Please login to book an appointment</h3>
</div>
